@keyframes slideIn {
    from {
      transform: translateY(10000%);
    }
    to {
      transform: translateY(0);
    }
  }

/* Estilos generales */
body {
    background-color: #a7e6ff; /* Cambia esto al color que prefieras */
}

/* Estilos para el contenedor principal */
.container {
    text-align: center; /* Centrar texto */
    width: 100%; /* Ancho total */
}

/* Estilos para el título */
h1 {
    color: #333333f1; /* Color del texto */
    font-family: Arial, sans-serif; /* Familia de fuente */
}

/* Estilos para el párrafo */
p {
    font-size: 16px; /* Tamaño del texto */
    margin-bottom: 20px; /* Margen inferior */
    color: #333333f1; /* Color del texto */
    font-family: Arial, sans-serif; /* Familia de fuente */
    font-size: 17px; /* Tamaño del texto */
}



/* Estilos para el botón */
button {
    background-color: #0084ffc0; /* Color de fondo */
    color: #000000c9; /* Color del texto */
    font-family: Arial, sans-serif;
    font-size: 15px;
    border: none; /* Sin borde */
    padding: 7px 17px; /* Espaciado interno */
    cursor: pointer; /* Cambio de cursor al pasar el ratón */
    border-radius: 9px; /* Bordes redondeados */
    border: 2px solid rgba(0, 0, 0, 0.39); /* Borde negro */
    margin: 10px auto; /* Centrar horizontalmente */
}

button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón */
}

/* Estilos para la caja de texto de entrada */
input[type="text"] {
    background-color: #ffffff8a; /* Color de fondo */
    padding: 10px; /* Espaciado interno */
    border: 2px solid #ccccccc7; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño del texto */
    width: 200px; /* Ancho */
    box-sizing: border-box; /* Incluir el borde y el padding en el ancho total */
}

/* Estilos cuando se enfoca la caja de texto */
input[type="text"]:focus {
    border-color: #007bff; /* Cambio de color del borde al enfocar */
    outline: none; /* Eliminar el contorno al enfocar */
}

/* Estilos para el contenedor de resultados */
#resultados {
    margin-top: 20px; /* Margen superior */
    text-align: center; /* Centrar texto */
    margin-bottom: 20px; /* Margen inferior */
}

#resultados div {
    background-color: #bfffb2; /* Color de fondo */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 140px; /* Margen inferior */
    border-radius: 5px; /* Bordes redondeados */
    display: block; /* Cambiar a bloque */
    font-family: Arial, sans-serif;
    box-sizing: border-box+20; /* Incluir el borde y el padding en el ancho total */
    border: 2px solid rgba(0, 140, 255, 0.466); /* Borde negro */
    animation: slideIn 0.5s ease forwards;
    width: fit-content; /* Ajustar el ancho al contenido */
    margin: 10px auto; /* Centrar horizontalmente */
}





